<style>
    .normal_list{
        list-style: none;
        margin:0;
        padding:0;
        margin-top:51px;
    }
    .normal_list li{
        margin:0;
        padding:0;
        margin-bottom:10px;
    }
    .normal_list .list_pic{
        width:100%;
        background-position: center center;
        background-size:cover;
    }
    .normal_list .list_pic img{
        width:100%;
    }
    .normal_list .list_info{
        width:100%;
        height:auto;
    }
    .normal_list .list_name{
        width:100%;
        text-align: center;
        padding:10px 0;
        font-size:180%;
        font-weight:500;
    }
    .normal_list .list_desc{
        width:100%;
        text-align: center;
        padding:0 5px;
    }
    .normal_list .list_desc_word{
        padding:10px;
        text-align:left;
        text-indent:2em;
        display: -webkit-box;
        line-height:1.8;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-brand">
        课程
    </div>
</nav>
<ul class="row normal_list" >
    <li class="col-md-12" ng-repeat="course in courselist" ng-click="courseClick(course)">
        <div class="list_pic"  alien-image image="{{(course.coverImage&&course.coverImage.length>0)?course.coverImage:rootpath+'image/noimg.jpg'}}">&nbsp;</div>
        <div class="list_info" style="background:rgba(240,240,240,0.8);">
            <div class="list_name">{{course.name}}</div>
            <div class="list_desc">
                <strong>{{course.courseTime|date:'yyyy-MM-dd HH:mm'}}</strong>
                    <!--|{{course.price|currency:'￥'}}|分享价：{{(course.price2>0)?(course.price2|currency:'￥'):'免费'}}-->
            </div>
            <div class="list_desc_word">{{course.memo}}</div>
        </div>
    </li>
</ul>