<style>
    .normal_list {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 51px;
    }

    .normal_list li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    .normal_list .list_pic {
        width: 100%;
        background-position: center center;
        background-size: cover;
    }

    .normal_list .list_pic img {
        width: 100%;
    }

    .normal_list .list_info {
        width: 100%;
        height: auto;
    }

    .normal_list .list_desc {
        width: 100%;
        text-align: center;
        padding: 0 5px;
    }
    .clickColor{
        background-color: #e7e7e7;
    }

</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-brand">
        个人中心
    </div>
    <div class="navbar-text pull-right" style="margin-right:1em;" ng-click="goList()">
        <i class="glyphicon glyphicon-arrow-left"></i>
    </div>
</nav>
<ul class="row normal_list" ng-if="artOpen">
    <li class="col-md-12" ng-repeat="artOrder in artOrders" ng-click="artClick(artOrder.artwork)">
        <div class="list_pic" alien-image
             image="{{(artOrder.artwork.coverImage&&artOrder.artwork.coverImage.length>0)?artOrder.artwork.coverImage:rootpath+'image/noimg.jpg'}}">
            &nbsp;</div>
        <div class="list_info" style="background:rgba(240,240,240,0.8);">
            <div class="list_desc"><strong>{{artOrder.artwork.name}}|{{artOrder.payTime|date:"yyyy-MM-dd HH:mm"}}|
                {{artOrder.artwork.price|currency:'￥'}}|{{artOrder.payStatus}}</strong>
            </div>
        </div>

    </li>
</ul>
<ul class="row normal_list" ng-if="courseOpen">
    <li class="col-md-12" ng-repeat="courseOrder in courseOrders" ng-click="courseClick(courseOrder.course)">
        <div class="list_pic" alien-image
             image="{{(courseOrder.course.coverImage&&courseOrder.course.coverImage.length>0)?courseOrder.course.coverImage:rootpath+'image/noimg.jpg'}}">
            &nbsp;</div>
        <div class="list_info" style="background:rgba(240,240,240,0.8);">
            <div class="list_desc"><strong>{{courseOrder.course.name}}|{{courseOrder.payTime|date:"yyyy-MM-dd HH:mm"}}|
                {{courseOrder.course.price|currency:'￥'}}|{{courseOrder.payStatus}}</strong>
            </div>
        </div>

    </li>
</ul>
<div ng-if="artOpen==false&&courseOpen==false" style="text-align: center;font-size: 30px;margin-top: 51px;">...</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" style="padding:0;">
        <div type="button" ng-click="ifArtOpen()" class="col-xs-6" ng-class="setArtClickColor()" ng-disabled="artOpen"
             style="width:50%;cursor:pointer;height:50px;line-height:50px;text-align:center;margin:0;border: none;">
            {{artBtnText}}
        </div>
        <div type="button" ng-click="ifCourseOpen()" class="col-xs-6" ng-class="setCourseClickColor()" ng-disabled="courseOpen"
             style="width:50%;cursor:pointer;height:50px;line-height:50px;text-align:center;margin:0;border: none;">
            {{courseBtnText}}
        </div>
    </div>
</nav>